<script src="https://code.jquery.com/jquery-1.4.3.min.js"></script>

<style>
  html, body {
    height: 100%; overflow: hidden;
  }
  div {
    height: 100%; border: 1px;
  }
</style>

<div class="container" style="background-color: #eeeeee;">
      <div class="card-body">
        
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="text-center">
            <%= f.label :"기존 회원이신가요?", style: "font-size: 2rem; text-decoration: underline" %>
          </div>
          <div class="btn-group btn-group-toggle" id="radiobutton" style="width:100%">
            <label class="btn btn" id="yesbutton" style="width:100%; background-color:#FFFFFF; color:#333; border: 1px solid #333">
              <input type="radio" name="options" id="show_nickname"> 예
            </label>
            <label class="btn btn" id="nobutton" style="width:100%; background-color:#FFFFFF; border: 1px solid #333">
              <input type="radio" name="options" id="option3"> 아니요
            </label>
          </div>
        
          <div class="field nickname" id="nicknamefield" style="display:none;">
            <table class="table">
              <tr style="padding:0">
                <td style="background-color:#FFFFFF; padding:0;">
                  <%= f.label :필명, style: "margin-bottom: 0; color:#333; padding: 0.8rem" %>
                </td>
                <td style="padding:0; background-color:#FFFFFF">
                  <%= f.text_field :nickname, autofocus: true, style: "width:100%; padding: 0.8rem; margin-bottom: 0; background-color:#FFFFFF; border:0;", placeholder: "필명을 입력하세요" %><br/>
                </td>
              </tr>
              <tr style="padding:0;">
                <td style="background-color:#FFFFFF; padding:0;">
                  <%= f.label :'비밀번호', style: "margin-bottom: 0; color:#333; padding: 0.8rem" %>
                </td>
                <td style="padding:0; background-color:#FFFFFF">
                  <%= f.password_field :nick_pass, autofocus: true, style: "width:100%; padding: 0.8rem; margin-bottom: 0; background-color:#FFFFFF; border:0;", placeholder: "비밀번호를 입력하세요" %><br/>
                </td>
              </tr>
            </table>
            <hr class="my-4">
          </div>
          
          <table class="table">
            <tr style="padding:0">
              <td style="background-color:#FFFFFF; padding:0;">
                <%= f.label :아이디, style: "margin-bottom: 0; color:#333; padding: 0.8rem" %> <em> (최소 6자리)</em>
                <%= f.text_field :user_id, autofocus: true, style: "width:100%", placeholder: "영어 + 숫자 조합으로 입력하세요" %>
              </td>
            
            <div class="form-group" style= "margin-bottom: 0;">
              <div class="form-row">
                <div class="col-md-6">
                  <%= f.label :비밀번호, style: "margin-bottom: 0; margin-top: 0.5rem;" %>
                  <% if @minimum_password_length %>
                  <em>(최소 <%= @minimum_password_length %>자리)</em>
                  <% end %>
                  <%= f.password_field :password, autocomplete: "off", style: "width:100%", placeholder: "비밀번호를 입력하세요" %>
                </div>
                <div class="col-md-6">
                  <%= f.label :'비밀번호 재확인', style: "margin-bottom: 0; margin-top: 0.5rem;" %>
                  <%= f.password_field :password_confirmation, autocomplete: "off", style: "width:100%", placeholder: "비밀번호 재확인" %>
                </div>
              </div>
            </div>
          
            <div class="field">
              <%= f.label :전화번호, style: "margin-bottom: 0; margin-top: 1.0rem;" %>
              <%= f.text_field :phone, autofocus: true, style: "width:100%", placeholder: "전화번호를 입력하세요" %>
            </div>
            
            <div class="field">
              <%= f.label :이메일, style: "margin-bottom: 0; margin-top: 1.0rem;" %>
              <%= f.text_field :email, autofocus: true, style: "width:100%", placeholder: "이메일을 입력하세요" %>
            </div>
          </table>
          <div class="actions">
            </br>
            <%= f.submit "동의하고 회원가입", class: 'btn btn btn-block text-white', style: 'background-color: #91180b; height:3.0rem;' %>
          </div>
        <% end %>
      </div>
</div>
<script>
  $('#radiobutton').change(function() {
      if ($('#show_nickname').attr('checked')) {
        $('#nicknamefield').show();
        $('#yesbutton').css('background-color', "#FFC000");
        $('#nobutton').css('background-color', "#FFFFFF");
      } 
      else {
        $('#nicknamefield').hide();
        $('#yesbutton').css('background-color', "#FFFFFF");
        $('#nobutton').css('background-color', "#FFC000");
      }
  });
</script>