<style>
  html, body {
    height: 100%; overflow: hidden;
  }
  div {
    height: 100%; border: 1px;
  }
</style>

<div class="container" style="background-color: #eeeeee;">
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <!--<form actions="http://61.72.187.6/phps/login" method="POST" >-->
      <div class="field mb-3">
        <%= f.text_field :user_id, autofocus: true, autocomplete: "off", style: "width:100%; height:2.5rem; font-size: 0.8rem; padding:0.8rem;", placeholder: "아이디를 입력하세요" %>
        <!--<input type="text" id="user_id" name="user_id" style="width:100%; height:2.5rem; font-size: 0.8rem; padding:0.8rem;", placeholder= "아이디를 입력하세요"/> -->
      </div>
    
      <div class="field">
        <%= f.password_field :password, autocomplete: "off", style: "width:100%; height:2.5rem; font-size: 0.8rem; padding:0.8rem;", placeholder: "비밀번호를 입력하세요" %>
        <!--<input type="password" id="password" name="password" style="width:100%; height:2.5rem; font-size: 0.8rem; padding:0.8rem;", placeholder= "비밀번호를 입력하세요"/> -->
      </div>
    
      <div class="field mt-3">
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "비밀번호 찾기", new_password_path(resource_name), style: 'float: right' %><br />
        <% end -%>
      </div>
      
      <div class="actions mt-3">
        <%= f.submit "로그인", class: 'btn btn btn-block text-white', style: 'background-color: #91180b; height:3.0rem;' %>
        <!--<input type="submit" class="btn btn btn-block text-white" style="background-color: #91180b; height:3.0rem;" value="로그인"/> -->
      </div>
      
      <!--</form>-->
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>
</div>